{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}Change Password{% endblock %}

{% block page_title %}Change Password{% endblock %}

{% block content %}


<form method="POST">
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}