<p>Dear {{ user.email }},</p>

<p>A password reset has been requested for your GeoClipz account.</p>

<p>To reset your password, please click on the following link or copy and paste it into your browser:</p>

<p><a href="{{ reset_link }}">{{ reset_link }}</a></p>

<p>This link will expire in {{ config.SECURITY_RESET_PASSWORD_WITHIN }}.</p>

<p>If you did not request a password reset, please ignore this email.</p>

<p>Best regards,<br>
GeoClipz Team<br> 
Customized Weather Forecasing Company</p>

