
{% extends "base.html" %}
{% block content %}
    <h1>Bulk Data Upload</h1>
    <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.file.label }}
            {{ form.file() }}
        </div>
        <div>
            {{ form.data_type.label }}
            {{ form.data_type() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>


    <h2>Download Sample CSVs:</h2>
    <ul>    
        <div class="form-group"></div>
        <li><a href="{{ url_for('main.sample_csv', data_type='forecast_locations') }}" class="btn btn-primary" >Forecast Locations Sample</a></li>
        </div>
        <div class="form-group">
        <li><a href="{{ url_for('main.sample_csv', data_type='grid_substations') }}"  class="btn btn-primary" >Grid Substations Sample</a></li>
        </div>
        <div class="form-group">
        <li><a href="{{ url_for('main.sample_csv', data_type='feeders') }}" class="btn btn-primary" >Feeders Sample</a></li>
        </div>
        <div class="form-group">
        <li><a href="{{ url_for('main.sample_csv', data_type='solar_plants') }}"  class="btn btn-primary" >Solar Plants Sample</a></li>
        </div>
    </ul>
</div>
{% endblock %}
