

{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Edit Forecast Location</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.provider_name.label(class="form-label") }}
        {{ form.provider_name(class="form-select") }}
    </div>
    <div class="mb-3">
        {{ form.latitude.label(class="form-label") }}
        {{ form.latitude(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.longitude.label(class="form-label") }}
        {{ form.longitude(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.api_key.label(class="form-label") }}
        {{ form.api_key(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}